__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.cache/
.noseids
.coverage
.hypothesis/
.pytest_cache/
.tox/
.ipynb_checkpoints/
.env
.venv
venv/
env/
ENV/
.virtualenv
pip-log.txt
pip-delete-this-directory.txt
docker-compose.override.yml
.dockerenv
.Dockerfile.build
.docker-compose-v2.log
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*~
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
log.txt
datasets/Caltech101_MNN/
datasets/Caltech256_MNN/
datasets/Dogsvscats_MNN/
datasets/DTD_MNN/
proxynetworks/models/
proxynetworks/pth/
src/__pycache__/
*.csv
*.tar.gz